<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Carbon Footprint</title>
    <link rel="icon" type="image/x-icon" href="public/img/favicon.ico" />
    <link rel="stylesheet" href="carbon-footprint.css" />
  </head>

  <body>
    <!-- calculator -->
    <div class="calculator-container">
      <h1>Calculate Your Carbon Footprint</h1>
      <div class="calculator">
        <iframe
          width="900"
          height="550"
          frameborder="0"
          marginwidth="0"
          marginheight="0"
          scrolling="yes"
          src="https://calculator.carbonfootprint.com/calculator.aspx"
        ></iframe>
      </div>
    </div>

    <!-- leaderboard -->
    <div class="leaderboard-container">
      <h2>Leaderboard</h2>
      <p>Top 10 Lowest Carbon Footprints</p>
      <div class="submission-box">
        <form action="/addUser" method="post">
          <input type="text" name="name" placeholder="Your Name" required />
          <input
            type="number"
            name="footprint"
            placeholder="Carbon Footprint"
            required
          />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <table class="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Carbon Footprint</th>
          </tr>
        </thead>
        <tbody>
          <%function sortUsers(a, b){return a.footprint - b.footprint;}%>
          <% if(users.length > 0) { %>
          <% users.sort(sortUsers); %>
          <% for(let i = 0; i < users.length && i < 10; i++) { %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= users[i].name %></td>
            <td><%= users[i].footprint.toLocaleString() + " CO₂e"%></td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
